*{
	margin: 0;
	padding: 0;
}

body{
	/*background-color: black;*/
	background: linear-gradient(#000000, #0a0a0a, #000000);
	font-family: Tahoma;
	color: white;
}

.container{
	width: 960px;
	height: 883px;
	margin: 0 auto;
	background-image: url(../img/bg.jpg);
	font-size: 15px;
}

.header{
	height: 144px;
	padding: 50px 70px 0 70px;
}

.contacts{
	float: right;
	width: 102px;
	margin-top: 85px;
}

p{
	font-size: 10px;
	line-height: 20px;
}

.phone, .mail{
	font-size: 9px;
	line-height: normal;
}

.catalog {
    width: 850px;
    margin: 0 auto;
}
.catalog li {
    display: inline-block;
    width: 270px;
    margin: 0 5px 60px 5px;
    vertical-align: top;
    text-align: center;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: underline;
}
.catalog img {
	width: 265px;
	height: 183px; 
    display: block;
}

.footer{
	text-align: center;
	margin: 120px;
}